.body-aufgabe {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.task-title {
    margin: 40px;
}

.button-check {
    background: #4E4EEC;
    color: #fff;
    border-radius: 5rem;
    transition: .8s;
    margin-top: 40px;
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;
    /* Add This*/
    margin-bottom: 20px;
}

.centering {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centering .btn-add {
    margin-right: 20px;
    padding: 10px 35px;
}

.check-marg {
    margin-right: 20px;
}

.cat-btn-aufgabe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    background: #4E4EEC;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    border-radius: 5rem;
    border: none;
    clear: left;
    z-index: 0;
    text-align: center;
    /* Add This*/
    margin-bottom: 20px;
    margin: 0 auto;
  }
  
  .cat-btn-aufgabe:hover {
    background: #FADB61;
    color: #4E4EEC;
    border-radius: 15px;
    box-shadow: 0 0 2px #FADB61,
                0 0 4px #FADB61,
                0 0 8px #FADB61,
                0 0 16px #FADB61;
  }
