.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  margin-right: 20px;
  padding-bottom: 5px;
}

.custom-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #1976D2, #1976D2) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, #afc5da, #afc5da) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }
  
  .custom-field.two input.dirty,
  .custom-field.two input:not(:placeholder-shown),
  .custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }

  .cat-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #4E4EEC;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    border-radius: 5rem;
    border: none;
  }
  
  .cat-button:hover {
    background: #FADB61;
    color: #4E4EEC;
    border-radius: 15px;
    box-shadow: 0 0 2px #FADB61,
                0 0 4px #FADB61,
                0 0 8px #FADB61,
                0 0 16px #FADB61;
  }

  .table {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 20px;
  }

  .btn-delete {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #EC4E4E;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 5px;
    border-radius: 5rem;
    border: none;
  }
  
  .btn-delete:hover {
    background: #fff;
    color: #EC4E4E;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 0 0 2px #fff,
                0 0 4px #fff,
                0 0 8px #fff,
                0 0 16px #fff;
  }

  .btn-add {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #3FB73D;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 5px;
    border-radius: 5rem;
    border: none;
  }
  
  .btn-add:hover {
    background: #fff;
    color: #3FB73D;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 0 0 2px #fff,
                0 0 4px #fff,
                0 0 8px #fff,
                0 0 16px #fff;
  }